.gallery{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery-button{
    margin: 5%;
    border-radius: 30px;
    text-align: center;
    width: 400px;
    height: 110px;
    line-height: 110px;
    user-select: none;
    font-weight: 700;
    font-size: 40px;
}

.gallery-button:hover{
    background-color: rgba(42, 165, 69, 0.418);
    cursor: pointer;
}

.gallery-content{
    height: 0px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 100px;
    overflow: hidden;
    position: relative;
    transition: height 0.5s ease-in-out,
    padding-top 0.5s ease-in-out,
    padding-bottom 0.5s ease-in-out;
}

.gallery-content.expand-active{
    height:1500px;
    padding-top: 100px;
    padding-bottom: 100px;
    transition: height 0.5s ease-in-out,
    padding-top 0.5s ease-in-out,
    padding-bottom 0.5s ease-in-out;

}

.btn-expand-more{
    display: grid;
    place-items: center;

}

.gallery-top{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.image-container{
    height: 300px;
    width: 300px;
    display: grid;
    place-items: center;
    
}

.gallery-main{
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    gap: 16px;
}

.gallery-image{
    
    --transition-time: 0.3s;
    height: 300px;
    width: 300px;
    background-color:rgb(169, 169, 169);
    border: 3px solid rgba(255, 255, 255, 0.349);
    border-radius: 5%;
    z-index: 0;
    transition: height var(--transition-time) ease-in-out,
     width var(--transition-time) ease-in-out,
      margin-top var(--transition-time) ease-in-out,
     margin-left var(--transition-time) ease-in-out,
      z-index var(--transition-time) ease-in-out;


}

.gallery-image:hover{
    height: 400px;
    width: 400px;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 9999;
    transition: height var(--transition-time) ease-in-out,
    width var(--transition-time) ease-in-out,
     margin-top var(--transition-time) ease-in-out,
    margin-left var(--transition-time) ease-in-out,
     z-index var(--transition-time) ease-in-out;    /* transition: width 10s ease-in-out;
    transition: margin 10s ease-in-out; */

}

#add-button{
    height: 75px;
    width: 75px;
    border-radius: 30px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    justify-self: left;
    margin: 50px;
}

#add-button:hover{
    background-color: rgba(42, 165, 69, 0.418);
}
