*{
    
    margin:auto;
    padding-top: 1%;
    /* padding-right: 0.1%;
    padding-left: 0.1%; */
    padding-bottom: 1%;
    

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.top{
    border: 0.4vw dashed rgb(81, 47, 91);
    background-color: rgb(230, 230, 230);
    background-image: url("https://media.tenor.com/atuw3rTKjjoAAAAC/waves-animated.gif") ;
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    font-family: 'Labrada', serif;
    color:rgb(81, 47, 91) ;
    width: 50%;
    font-size: 20px;
    text-align: center;
    /* min-width: 310px; */
    white-space: nowrap;    
    

}

.main{
    
    width: 85%;
    height: 100vh;
    background-color: rgb(227, 206, 228);
    display: flex;
    flex-wrap: wrap;
    border: 0.3vw double black;
    justify-content: flex-end;
    align-items: flex-end;
    
    
    
}
/* .poop{
    
    width: 30%;
    color: rgb(132, 4, 4);
    border: 1px solid red;
    background-color: rgb(255, 228, 228);


} */

/* .background{
    width: 100px;
} */

body{
    background-image:url("/bg.png");
    background-size: cover;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-position: center;

}

.left{
    border: 1px solid black;
    font-size: 16px;


}

.right{
    border: 1px solid black;
    font-size: 16px;

}

.marcy{
    margin: auto;
    padding: auto;
    width: 50%;
}

.marcy_link{
    font-size: 30px;
    border: 0.5vw double red;
    
}