* {cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym596.cur), auto !important;}

body{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    background-color: bisque;
}

.ex4 .container {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

.header{
background-color: rgb(194, 250, 216);
display: grid;
place-items: center;
font-size: 40px;
color: rgb(15, 37, 24);
border: 1px solid white;

}

.main{
background-color: burlywood;
display: flex;
flex-direction: column;
}

.footer{
background-color: rgb(194, 250, 216);
display: grid;
place-items: center;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.button{
    padding: 40px;
    font-weight: 700;
    font-size: 30px;
    border-radius: 20px;

}

.button:hover{
    background-color: rgba(42, 165, 69, 0.418);
}

.button:active{
    background-color: rgba(88, 134, 175, 0.452);
}

.logo{
    height: 5%;
    width: 5vh;
    margin: 5vh;
}

.main-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-intro{
    margin: 40px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgba(255, 248, 248, 0.623);
    background-color: rgba(127, 255, 146, 0.062);

}

.main-image-container{
    display: inline-block;
    overflow: hidden;
    border: 1px solid white;
}

.main-image{
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/3/ca/art-griby-les-noch-svechenie.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    opacity: 0.3;
    transition: opacity 230ms ease-in-out;
    transition: all .2s ease-in-out;
    vertical-align: middle;
    display: grid;
    place-items: center;
}

.main-image:hover{
    opacity: 1;
    transform:scale(1.5);
}

.image-text{
    background-color: rgba(240, 248, 255, 0.489);
    padding: 20px;
    border-radius: 10px;
  }

.image-text:hover{
    background-color: aliceblue;
}

.image-text:active{
    background-color: rgba(88, 134, 175, 0.452);
}

.main-bottom{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
}

.column{
    padding: 20px;
    height: 100%;
    width: 27%;
    box-shadow: 5px 5px 20px rgba(255, 248, 248, 0.623);
    border-radius: 20px;
    background-color: rgba(127, 255, 146, 0.062);
    font-size: larger;
}

.gallery{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery-button{
    margin: 5%;
    margin-bottom: 100px;
    border-radius: 30px;
    text-align: center;
    font-weight: 400;
    width: 400px;
    height: 110px;


}

.gallery-button:hover{
    background-color: rgba(42, 165, 69, 0.418);
    cursor: pointer;
}

.gallery-content{
    height: 0px;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 100px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;

}

.gallery-content.expand-active{
    height:auto;
    transition: height 0.5s ease-in-out;
}

.btn-expand-more{
    display: inline-block;
}

.gallery-image{
    height: 300px;
    width: 300px;
    background-color:rgba(169, 169, 169, 0.381);
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    transition: height 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

.gallery-image:hover{
    height: 400px;
    width: 400px;
    transition: height 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}
